xcuserdata/
target/
.DS_Store
Breakpoints.xcbkptlist
build/
.idea/
*.orig
*.swp
*.tmp
*.xccheckout
*.xcscmblueprint
fastlane/report.xml
# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
Carthage/Checkouts
Carthage/Build
Carthage
fastlane/test_output
*.zip
*.ipa
*.mobileprovision
.swiftlint.yml

# npm
node_modules

# ctags
tags
.ctags
