xcuserdata/
target/
.DS_Store
Breakpoints.xcbkptlist
build/
.idea/
*.orig
*.swp
*.tmp
*.xccheckout
*.xcscmblueprint
*.ipa
*.mobileprovision

# Fastlane
fastlane/report.xml
fastlane/test_output

# Carthage
Carthage/Checkouts
Carthage/Build
Carthage
*.zip

*.framework

# npm
package-lock.json
node_modules

# ctags
.ctags
tags
